body{
   min-height: 100vh;
   background-size:cover;
}
.container{
   margin: 6px;
   display: flex;
   gap:6px;
   max-width: 1350px;
   width: 100%;

}
.head{
   font-size: medium;
   font-variant: small-caps;
}
button{
   border-radius: 5px;
   height:35px;
   width: 70px;
   background-color: #2196F3;
   cursor:pointer;
   border: none;
}
button.active{
   background-color: #04AA6D;
   color: white;
}
input{
   height: 30px;
   width:500px;
   padding-left: 20px;
}
.attach{
   border-radius: 5px;
   height:35px;
   max-width:680px;
   width: auto;
   padding-left: 10px;
   padding-top: 13px;
   text-align: left;
   color:black;
   font-weight:bold;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #ddffdd;
   border-left: 6px solid #04AA6D;
}
#parent{
float:left;
width:730px;
overflow-y: auto;
max-height: 400px;
}
.attach:hover {
   background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
 }
 #list{
color:black;
font-size: medium;
font-weight: 600;
border-radius: 90px;
border: 1px solid black;

 }